html {
	overflow-x: hidden;
}

.wave {
  background: url(img/wave.svg) repeat-x; 
  width: 6400px;
  height: 198px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
  position: absolute;
  bottom:0px
}

.wave:nth-of-type(2) {
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
  bottom: 5px;
  opacity: 1;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%, 100% {
    transform: translate3d(0,-25px,0);
  }
  50% {
    transform: translate3d(0,5px,0);
  }
}


.tech-item {
	background-color: black;
	font-style: italic;
	color: white;
	padding: 5px 7px;
	margin: 5px;
}

.section-container {
	max-height: 1000px;
	height: 100vh;
}

.transition-bar {
	height: 2em;
}

.section-content {
	padding: 9% 5px;
}

#navbar {
	background-color: white;
}

#home {
	background-color: #FFFFFF;
}

#about {
	background-color: #566DC4;
	color: white;
}

#projects {
	background-color: #1C2D73;
	color: white;
}

#contact {
	background-color: #080e29;
	color: white;
}

.nav-item-custom {
	margin-bottom: 2px;
	border-bottom: 0px solid black;
	transition: border-bottom margin-bottom 0.5s;
}

.nav-item-custom:hover {
	margin-bottom: 0px;
	border-bottom: 2px solid #9CABE7;
}

a {
    text-decoration: none;
	color: white;
}

.nav-contact-icons {
	display: none;
	align-items: center;
}

.permahover {
    display: flex;
}

.nav-contact-icon {
	height:30px;
	opacity:0.7;
	transition: opacity 0.2s;
}

.nav-contact-icon:hover {
	opacity: 0.9;
}

.chart {
	width: 800px;
	height:10vh;
}

button {
	padding: 5px !important;
	margin: 3px;
}

@media (min-width: 800px) {
	.chart {
		width: 100%;
	}
} 
